# Dependencias
node_modules/

# Builds
dist/
build/
.vite/

# Entorno
.env
.env.local
.env.*.local

# Sistema y editores
.DS_Store
Thumbs.db
*.log
npm-debug.log*
.idea/
.vscode/*
!.vscode/extensions.json
